<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Login / Register</title>
</head>

<body>
    <script src="../checkCountry.js"></script>
    <script src="../../header.js"></script>
    <script src="menu2.js"></script>

    <div role="main" class="main">
        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Login / Register</h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <script src="/displayMessageLong.js"></script>
            <div class="row">
                <div class="col-md-12">
                    <div class="row featured-boxes login">
                        <div class="col-md-6">
                            <div class="featured-box featured-box-secundary default info-content">
                                <div class="box-content">
                                    <h4>I'm a Returning Customer</h4>

                                    <form onsubmit="return false;" id="loginForm">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>E-mail Address</label>
                                                    <input type="email" id="emailLogin" class="form-control input-lg"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <a class="pull-right" href="forgotPassword.html" tabindex="-1">(Lost
                                                        Password?)</a>
                                                    <label>Password</label>
                                                    <div class="password-container">
                                                        <input id="passwordLogin" type="password"
                                                            class="form-control input-lg" required>
                                                        <button type="button" id="togglePasswordLoginButton"
                                                            class="toggle-password">Show</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="submit" onclick="login()" value="Login"
                                                    class="btn btn-primary pull-right push-bottom">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="featured-box featured-box-secundary default info-content">
                                <div class="box-content">
                                    <h4>Register An Account</h4>
                                    <form onsubmit="return false;" id="registerForm">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>E-mail Address</label>
                                                    <input type="email" id="emailReg" class="form-control input-lg"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <label>Password</label>
                                                    <div class="password-container">
                                                        <input id="passwordReg" type="password" value=""
                                                            class="form-control input-lg" required>
                                                        <button type="button" id="togglePasswordButton"
                                                            class="toggle-password">Show</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Re-enter Password</label>
                                                    <input id="repasswordReg" type="password" value=""
                                                        class="form-control input-lg" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <div class="g-recaptcha"
                                                        data-sitekey="6LcLaXYUAAAAAOYUvT0g3IpuM2HLnmg47B_3Wugd"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="submit" onclick="register()" value="Register"
                                                    class="btn btn-primary">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../footer.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var passwordSection = document.querySelector('.password-container');
            var togglePasswordButton = document.getElementById('togglePasswordButton');
            var togglePasswordLoginButton = document.getElementById('togglePasswordLoginButton');
            var passwordInput = document.getElementById('passwordReg');
            var passwordLoginInput = document.getElementById('passwordLogin');

            togglePasswordButton.addEventListener('click', function () {
                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    togglePasswordButton.textContent = 'Hide';
                } else {
                    passwordInput.type = 'password';
                    togglePasswordButton.textContent = 'Show';
                }
            });

            togglePasswordLoginButton.addEventListener('click', function () {
                if (passwordLoginInput.type === 'password') {
                    passwordLoginInput.type = 'text';
                    togglePasswordLoginButton.textContent = 'Hide';
                } else {
                    passwordLoginInput.type = 'password';
                    togglePasswordLoginButton.textContent = 'Show';
                }
            });
        });
    </script>
</body>

</html>
